@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//Colors
$primary-color: #e9e0cf;
$secondary-color: #f8f3ea;
$tertiary-color: #3c2109;
$accent-color: #3c2109;
$text-color: #3c2109;
$red: #cf000f;
